@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<<%= namespace %>.Modules.<%= moduleName %>.Models.Settings>

@using System.Web.Mvc
@using System.Web.Mvc.Html
@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead">@Dnn.LocalizeString("BasicSettings")</h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.Setting1, Dnn.LocalizeString("lblSetting1"), new { @class = "col-md-2 control-label" })
        </div>
        @Html.DropDownListFor(m => Model.Setting1, new SelectList(new[] { true, false }))
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.Setting2, Dnn.LocalizeString("lblSetting2"), new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.Setting2)
    </div>
</fieldset>
